{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ content }}


<h3>Title: {{ film.title }}</h3>
<h3>Director: {{ film.director }}</h3>
<h3>Year: {{ film.year|date:"Y" }}</h3>
{% thumbnail film.image_film "140x140" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<h3>Film description:</h3>
<p> 
    <h5>   
    {{ film.description }}
    </h5>
</p>      


<hr>
        
{% for review in page_obj  %}
{% include 'includes/author_date_post.html' %} 
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include '../includes/paginator.html' %}
{% endblock %} 