<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ content }}
{% for film in page_obj %}
<p>{{ film.title }}.</p>
<p>{{ film.director }}.</p>

{% thumbnail film.image_film "140x140" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
  
  <p>
    <a href="{% url 'films:film_list' film.pk %}">
      Film's details
    </a>
  </p>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include '../includes/paginator.html' %}
{% endblock %} 