<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ content }}
{% for review in page_obj %}
{% include 'includes/author_date_post.html' %}  
 

  {% if review.film %}   
    <a href="{% url 'films:film_list' review.film.pk %}">
      #{{ review.film.title }}
    </a>
  {% endif %}

  <p>
    <a href="{% url 'films:review_detail' review.pk %}">
      Review details
    </a>
  </p>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include '../includes/paginator.html' %}
{% endblock %} 